@import url('https://fonts.googleapis.com/css?family=Raleway+Thin');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Nexa');
@import url('https://fonts.googleapis.com/css?family=Nexa Light');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Raleway Light');

body {
  padding-top: 40px;
  background-color: black!important;
}

.nav {
  background-color: #000000;
  position: fixed;
  width: 100%;
  z-index:1;
  top: 0;
  transition: top 0.2s ease-in-out;
  height: 40px;
}

.nav-up {
  top: -40px;
}

.nav a{
  font-family: "Roboto",sans-serif;
  font-size: 10px;
  text-transform:  uppercase;
  font-weight: 400;
  letter-spacing: 2px;
  padding-right: 10px;
  padding-left: 10px;
}

.nav li {
  margin-top: 9px;
  display: inline;
  padding-left: 20px;
}

.nav a:hover{
  text-decoration: none;
}

.nav a,a:visited,a:hover,a:active{
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
    position:relative;
    transition:0.5s color ease;
    text-decoration:none;
    color:#FFFFFF;
}

.nav a:hover{
    color:#d73444;
}

a.before:before,a.after:after{
  content: "";
  transition:0.5s all ease;
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
  position:absolute;
}
a.before:before{
  top:-0.25em;
}
a.after:after{
  bottom:-0.25em;
}
a.before:before,a.after:after{
  height:5px;
  height:0.2rem;
  width:0;
  background:#d73444;
}
.third:after,a.sixth:before,a.sixth:after{
  left:50%;
  -webkit-transform:translateX(-50%);
          transform:translateX(-50%);
}
a.before:hover:before,a.after:hover:after{
  width:100%;
}

.jumbotron {
  background-image:url(Website Portfolio Images\Antelopes.jpg);
  background-repeat: no-repeat;
  height: 85%;
  background-size: cover;
  background-position: center top;
  color: #FFFFFF;
  height: 600px;
}

.learn-more {
  background-color: black;
}

.learn-more p {
  text-align: center;
  margin: 15px;
  font-family: 'Raleway Light';
  font-size: 45px;
  color: white;
  letter-spacing: 5px;
  transform: translateY(8px);
  border-bottom: 1px solid #d73444;
}

.paragraph p {
  margin: 20px;
  font-size: 12px;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: normal;
  border: none;
}

.paragraph .container {
  width: 800px;
}

.picturelinks {
  background-color: black;
  height: 550px;
}

.picturelinks .container {
  text-align: center;
}

.picturelinks .container img {
  height: 400px;
  width: 220px;
  margin: 10px;
}

.bottombar {
  width: 100%;
  height: 50px;
  background-color: #181818;
  z-index: 100; 
  bottom: 0; 
  left: 0;
  width: 100%;
}

.image {
  opacity: 1;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
}

.left:hover .image {
  opacity: 0.3;
    -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.left:hover .middle {
  opacity: 1;
    -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.center:hover .image {
  opacity: 0.3;
    -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.center:hover .middle {
  opacity: 1;
    -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.right:hover .image {
  opacity: 0.3;
    -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.right:hover .middle {
  opacity: 1;
    -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.text {
  font-family:'Raleway';
  color: white;
  font-size: 20px;
  letter-spacing: 2px;
}

.left {
  display: inline-block;
}

.center {
  display: inline-block;
}

.right {
  display: inline-block;
}

.image {
  opacity: 1;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.picturelinks a:hover{
  text-decoration: none;
}

.bottombar .container p{
  font-family: 'Raleway';
  color: #505050;
  text-align: center;
  margin-top: 15px;
}
