@import url('https://fonts.googleapis.com/css?family=Raleway+Thin');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Nexa');
@import url('https://fonts.googleapis.com/css?family=Nexa Light');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Raleway Light');

body {
  padding-top: 40px;
  background-color: black!important;
}

#content {
  margin: 0 auto;
  padding-bottom: 50px;  
  width: 80%;
  max-width: 978px;
}  

p {
    line-height: 1.33em;
    color: #7E7E7E;
}
h1 {
    color: #EEEEEE;
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

    z-index: 1001;
}

    #loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #e74c3c;

        -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    #loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #f9c922;

        -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    @-webkit-keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }
    @keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }

    #loader-wrapper .loader-section {
        position: fixed;
        top: 0;
        width: 51%;
        height: 100%;
        background: #222222;
        z-index: 1000;
        -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(0);  /* IE 9 */
        transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
    }

    #loader-wrapper .loader-section.section-left {
        left: 0;
    }

    #loader-wrapper .loader-section.section-right {
        right: 0;
    }

    /* Loaded */
    .loaded #loader-wrapper .loader-section.section-left {
        -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(-100%);  /* IE 9 */
                transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }

    .loaded #loader-wrapper .loader-section.section-right {
        -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(100%);  /* IE 9 */
                transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
        transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }
    
    .loaded #loader {
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;  
                transition: all 0.3s ease-out;
    }

    .loaded #loader-wrapper {
        visibility: hidden;

        -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateY(-100%);  /* IE 9 */
                transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.3s 1s ease-out;  
                transition: all 0.3s 1s ease-out;
    }

.nav {
  background-color: #000000;
  position: fixed;
  width: 100%;
  z-index:1;
  top: 0;
  transition: top 0.2s ease-in-out;
  height: 40px;
}

.nav-up {
  top: -40px;
}

.nav a{
  font-family: "Roboto",sans-serif;
  font-size: 10px;
  text-transform:  uppercase;
  font-weight: 400;
  letter-spacing: 2px;
  padding-right: 10px;
  padding-left: 10px;
}

.nav li {
  margin-top: 9px;
  display: inline;
  padding-left: 20px;
}

.nav a:hover{
  text-decoration: none;
}

.nav a,a:visited,a:hover,a:active{
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
    position:relative;
    transition:0.5s color ease;
    text-decoration:none;
    color:#FFFFFF;
}

.nav a:hover{
    color:#d73444;
}

a.before:before,a.after:after{
  content: "";
  transition:0.5s all ease;
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
  position:absolute;
}
a.before:before{
  top:-0.25em;
}
a.after:after{
  bottom:-0.25em;
}
a.before:before,a.after:after{
  height:5px;
  height:0.2rem;
  width:0;
  background:#d73444;
}
.third:after,a.sixth:before,a.sixth:after{
  left:50%;
  -webkit-transform:translateX(-50%);
          transform:translateX(-50%);
}
a.before:hover:before,a.after:hover:after{
  width:100%;
}

.jumbotron {
  background-image:url(/images/antelopes.jpg);
  background-repeat: no-repeat;
  height: 85%;
  background-size: cover;
  background-position: center top;
  color: #FFFFFF;
  height: 600px;
}

.learn-more {
  background-color: black;
}

.learn-more p {
  text-align: center;
  margin: 15px;
  font-family: 'Raleway Light';
  font-size: 45px;
  color: white;
  letter-spacing: 5px;
  transform: translateY(8px);
  border-bottom: 1px solid #d73444;
}

.paragraph p {
  margin: 20px;
  font-size: 12px;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: normal;
  border: none;
}

.paragraph .container {
  width: 800px;
}

.picturelinks {
  background-color: black;
  height: 550px;
}

.picturelinks .container {
  text-align: center;
}

.picturelinks .container img {
  height: 400px;
  width: 220px;
  margin: 10px;
}

.bottombar {
  width: 100%;
  height: 50px;
  background-color: #181818;
  z-index: 100; 
  bottom: 0; 
  left: 0;
  width: 100%;
}

.image {
  opacity: 1;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
}

.left:hover .image {
  opacity: 0.3;
    -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.left:hover .middle {
  opacity: 1;
    -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.center:hover .image {
  opacity: 0.3;
    -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.center:hover .middle {
  opacity: 1;
    -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.right:hover .image {
  opacity: 0.3;
    -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.right:hover .middle {
  opacity: 1;
    -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.text {
  font-family:'Raleway';
  color: white;
  font-size: 20px;
  letter-spacing: 2px;
}

.left {
  display: inline-block;
}

.center {
  display: inline-block;
}

.right {
  display: inline-block;
}

.image {
  opacity: 1;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.picturelinks a:hover{
  text-decoration: none;
}

.bottombar .container p{
  font-family: 'Raleway';
  color: #505050;
  text-align: center;
  margin-top: 15px;
}
