@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css?family=Amarante&display=swap");

.title {
  transition: 0.4s ease;
}

.sub-text {
  -webkit-text-stroke: unset;
  font-size: 30px;
  font-weight: 600;
}

.sub-text.mobile {
    display: none;
    font-size: 24px;
    font-weight: 600;
    text-transform: none;
}

body {
  background-image: url("assets/WHITE-BLUE.PNG");
  background-repeat: repeat;
  background-size: 600px;
overflow-y: scroll; /* Add the ability to scroll */
-ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
    display:none;
}

.hidden {
  display: none;
}

.semibold {
  font-weight: 600;
}

h3.passion {
  color: #ee383a;
  -webkit-text-stroke: 2px #ee383a;
  font-size: 28px;
}

.uppercase {
  text-transform: uppercase;
}

h1 {
  color: #2c2663;
  font-family: "Nunito Sans", sans-serif, Arial, Helvetica, sans-serif;
  font-size: 17px;
  margin: 24px 0;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
}

h2 {
  margin: 32px 0 16px;
  font-size: 20px;
  color: #826a86;
  letter-spacing: 2px;
  font-weight: 400;
}

.content-max-width {
  margin: auto;
  padding: 0 24px;
  max-width: 1040px;
}

p {
  color: #826a86;
  font-family: "Nunito Sans", sans-serif, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 24px;
}

a.link {
  transition: 0.5s ease;
}

a.link:hover {
  color: #ee383a;
}

.red:hover {
  color: #ee383a;
}

.section-padding {
  max-width: 1040px;
  margin: auto;
  padding: 0 24px;
}

p.quote {
  font-style: italic;
  font-size: 21px;
  color: #2c2663;
  font-weight: 600;
  padding: 32px 24px;
}

.red-divider {
  width: 1px;
  height: 2px;
  background-color: transparent;
  transition: 2.4s cubic-bezier(0.17, 0.897, 0.18, 0.848);
}

a {
  font-family: "Nunito Sans", sans-serif, Arial, Helvetica, sans-serif;
}

.accent-text {
  color: #ee383a;
  font-weight: 700;
}

.white {
  color: #fcfdff;
}

.center {
  text-align: center;
}

h3 {
  color: #826a86;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
}

.opacity-med {
  opacity: 0.4;
}

.scarlett {
  color: #ee383a;
}

.site-container .site-title {
  text-align: center;
  font-family: "Nunito Sans", sans-serif, Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.site-container .site-title h1 {
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
  margin-bottom: 12px;
}

.site-container .site-title h3 {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
}

.nav-container {
  position: fixed;
  z-index: 999;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}

.nav.nav-tabs {
  padding: 16px 0 16px;
  text-align: center;
  display: block;
  border-bottom: none;
}

ul.nav.nav-tabs li {
  display: inline-block;
}

.site-nav.nav-tab {
  text-align: center;
  width: 130px;
  padding: 6px 0;
  margin: 0 5px;
  display: block;
  color: #2c2663;
  border-bottom: 1px solid transparent;
  text-transform: uppercase;
  font-size: 12px;
  font-family: "Nunito Sans", sans-serif, Arial, Helvetica, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  transition: 0.4s ease;
}

.site-nav.nav-tab:hover {
  color: #ee383a;
  border-bottom: 1px solid #ee383a;
  text-decoration: none;
}

.site-nav.nav-tab.active {
  color: #ee383a;
  border-bottom: 1px solid #ee383a;
  text-decoration: none;
}

.tab-padding {
  padding-top: 188px;
}

.tab-pane {
  padding-top: 97px;
}

.tab-container {
      min-height: calc(100vh - 97px - 48px);
}

.tab-pane.active {
  animation: slide-down-delay 0.6s ease;
  display: block;
}

h1.tab-header {
  text-align: center;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: lowercase;
  padding: 5px 0 20px;
}

.footer {
    padding: 12px; 
    background-color: #23395b;
      font-family: "Nunito Sans", sans-serif, Arial, Helvetica, sans-serif;
}

.footer-text {
    text-align: center;
    color: #fcfdff;
    font-size: 16px;
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-down-delay {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.jumbotron-container {
  min-height: 480px;
  transform: translateY(-95px);
  height: 100vh;
  margin: auto;
  overflow: hidden;
  position: relative;
  transition: 0.3s ease;
}

.jumbotron-container:hover {
  transition: 2s ease-out;
}

.jumbotron-container:hover img {
  transform: scale(1.05);
  transition: 2s cubic-bezier(0.17, 0.897, 0.18, 0.848);
}

.jumbotron-container:hover .jumbotron-caption {
  opacity: 1;
  color: #2c2663;
}

.jumbotron-container .jumbotron-caption {
  position: absolute;
  font-size: 75px;
  font-weight: 800;
  color: transparent;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
  opacity: 0.8;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  -webkit-text-stroke: 1px #2c2663;
  z-index: 2;
  top: 40%;
}

.jumbotron-container .jumbotron-caption .outline-text {
    height: 100%;
}

.jumbotron-white-line {
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: #fcfdff;
  z-index: 1;
}

.jumbotron-white-line.left {
  left: 40%;
}

.jumbotron-white-line.hard-left {
  left: 20%;
}

.jumbotron-white-line.right {
  right: 40%;
}

.jumbotron-white-line.hard-right {
  right: 20%;
}

@media screen and (max-width: 900px) {
  .jumbotron-white-line.hard-right {
    right: 33%;
  }
  .jumbotron-white-line.hard-left {
    left: 33%;
  }
  .jumbotron-white-line.left {
    display: none;
  }
  .jumbotron-white-line.right {
    display: none;
  }
}

.transition-fast {
  transition: 0.8s ease-out;
}

.transition-medium {
  transition: 0.8s ease-out;
  transition-delay: 0.3s;
}

.transition-slow {
  transition: 0.8s ease-out;
  transition-delay: 0.6s;
}

.jumbotron-container img {
  width: 110%;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
  position: absolute;
  transition: 0.4s ease-out;
}

@media screen and (max-width: 1400px) {
  .jumbotron-container img {
    width: unset;
    height: 180%;
  }

  .jumbotron-container img.callisto-jumbotron {
    height: 115%;
  }
}

@media screen and (max-width: 768px) {
  .jumbotron-container img {
    width: unset;
    height: 1200px;
  }

  .jumbotron-container .jumbotron-caption {
    font-size: 48px;
    font-weight: 800;
    color: #2c2663;
    opacity: 0.8;
    bottom: 40%;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    transition: 0.2s;
  }
    
    .jumbotron-container .sub-text.web {
        font-size: 24px;
        display: none;
    }
    
    .jumbotron-container .sub-text.mobile {
        display: block;
    }
}

.about-container {
  height: calc(75vh - 100px);
}

.about-container .about {
  padding-left: 48px;
    padding-right: 48px;
  max-width: 1000px;
  text-align: left;
  margin: auto;
}

.about h1.about-header {
  color: #2c2663;
    text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 34px;
  font-weight: 600;
    margin-top: 0;
    margin-bottom: 48px;
}

.about .about-text {
  float: left;
    max-width: 50%;
    padding-right: 48px;
}

.about .about-image {
  max-width: 50%;
    padding-left: 48px;
  float: right;
}

.button-link {
  border: 2px solid #2c2663;
  color: #2c2663;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 12px;
  display: inline-block;
  font-size: 12px;
  font-family: "Nunito Sans", sans-serif, Arial, Helvetica, sans-serif;
  transition: 0.5s ease;
}

.button-link:hover {
  background-color: #ee383a;
  color: #fcfdff;
  transition: 0.5s ease;
  border: 2px solid #ee383a;
  text-decoration: none;
}

@media screen and (max-width: 768px) {

    .about h1.about-header {
        margin-bottom: 24px;
    }
    
    .about .about-text {
        max-width: none;
        padding-right: 0;
        float: none;
    }
    
    .about-container {
        height: unset;
        padding: 0 12px 36px;
    }
    
    .about-container .about {
        padding: 0 12px;
    }
    
  .about .about-image {
      float: none;
      padding-left: 0;
      max-width: 100%;
  }
    
    .about .button-link {
        margin-bottom: 24px;
    }
}

@media screen and (max-width: 902px) {
  .about .about-image {
  }
}

@media screen and (max-width: 1296px) {
    .portfolio-container.tab-container{
        margin-left: 48px;
        margin-right: 48px;
    }
}

.portfolio-container {
  margin-left: auto;
 margin-right: auto;
    max-width: 1200px;
}

.project-container {
  width: 100%;
  min-height: 270px;
  overflow: hidden;
  position: relative;
  background-color: #23395b;
  margin-bottom: 48px;
}

.project-container .project-img {
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  position: absolute;
  margin: auto;
  width: 100%;
  transform: scale(1);
  opacity: 0.6;
  transition: 0.3s cubic-bezier(0.17, 0.897, 0.18, 0.848);
}

.project-container .project-caption {
  position: absolute;
  bottom: 4vw;
  padding-left: 4vw;
    padding-right: 16px;
}

.project-container .project-caption .project-header {
  color: #fcfdff;
  -webkit-text-stroke: 2px #fcfdff;
  font-size: 58px;
  font-weight: 800;
  font-family: "Open Sans", sans-serif;
  transition: 0.3s ease;
  line-height: 1;
  padding: 8px 0;
}

.project-container .project-date {
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  color: #fcfdff;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.project-container .project-subheader {
  font-size: 20px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  color: #fcfdff;
  text-transform: uppercase;
  opacity: 0;
  letter-spacing: 1px;
  transition: 0.3s ease;
}

.project-container:hover .project-img {
  transform: scale(1.1);
  opacity: 0.8;
  filter: blur(1px);
}

.project-container:hover .project-caption .project-header {
  color: transparent;
  transition: 0.3s ease;
}

.project-container:hover .project-caption .project-subheader {
  opacity: 1;
}

.callisto-main {
  width: 100%;
}

.section-container {
  transform: translateY(-45px);
}

@media screen and (max-width: 768px) {
  .project-container .project-caption .project-header {
    color: #fcfdff;
    -webkit-text-stroke: unset;
    font-weight: 800;
    font-size: 32px;
  }
    
    .portfolio-container.tab-container{
        margin-left: 24px;
        margin-right: 24px;
    }
    
.project-container:hover .project-caption .project-header {
  color: #fcfdff;
}

  .project-container .project-caption .project-subheader {
    opacity: 1;
  }
}

.project-tab {
  margin: auto;
  width: 80%;
  max-width: 1000px;
}

#ProjectOne {
    min-height: calc(100vh - 48px);
}

.project-tab.project-one {
  max-width: 768px;
}

.project-title {
  font-size: 42px;
  margin: 0 0 24px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

.project-title.project-sub {
  margin-bottom: 10px;
}

.jumbotron-container:hover .callisto-jumbotron img {
  transform: scale(1);
  transition: 2s cubic-bezier(0.17, 0.897, 0.18, 0.848);
}

@media screen and (max-width: 768px) {
  .jumbotron-container .jumbotron-caption.callisto-caption h1 {
    font-size: 48px;
  }
}

.jumbotron-caption.callisto-caption {
  opacity: 1;
  -webkit-text-stroke: #fcfdff;
  max-width: 700px;
}

.jumbotron-caption.callisto-caption h1 {
  color: #fcfdff;
  font-size: 90px;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
}

.jumbotron-caption.callisto-caption h3 {
  color: #fcfdff;
  font-size: 20px;
  line-height: 30px;
}

.project-tab.full-screen-project {
  width: 100%;
  max-width: unset;
}

.full-screen-project p {
  max-width: 1000px;
  margin: auto;
  display: block;
}

.project-tab .spaghetti-yeti-project-img {
  width: 100%;
  min-width: 350px;
  max-width: 750px;
  margin: auto;
  display: block;
}

.game-container {
  padding: 30px 0;
}

.game-container.lizard-wizard {
  background-color: #793694;
}

.game-container.lizard-wizard h1 {
  color: #fcfdff;
  font-family: "Amarante", cursive;
}

.game-container.lizard-wizard h3 {
  color: #fcfdff;
}

.game-container.electric-share {
  background-color: #dfe973;
}

.game-container.electric-share h1 {
  color: #618463;
  font-family: "Lobster", cursive;
  font-size: 50px;
}

.game-container.electric-share h3 {
  color: #618463;
}

.game-container.hj-construction {
  background-color: #ee383a;
}

.game-container.hj-construction h1 {
  color: #781d1e;
}

.game-container.hj-construction h3 {
  color: #781d1e;
}

.game-container.rat {
  background-color: #52595d;
}

.game-container.rat h1 {
  color: #fcfdff;
}

.game-container.rat h3 {
  color: #9cbda6;
}

.callisto-images {
  padding-bottom: 15px;
}

@media screen and (max-width: 600px) {
  .callisto-iteration .callisto-images img {
    width: 100%;
    height: unset;
  }
}

.callisto-iteration h1 {
  margin: 40px 0 15px;
}

.callisto-iteration p {
  padding-bottom: 15px;
}

.jawg-logo {
  max-width: 300px;
  width: 100%;
  margin: auto;
  display: block;
}

.project-tab .gameplay {
  min-width: 350px;
  max-width: 600px;
  width: 100%;
  display: block;
  margin: auto;
  padding: 30px 0;
}

.project-footer {
  text-align: center;
}

.callisto-iteration img {
  max-width: 100%;
  height: 360px;
  margin: 10px 5px 0 0;
}

.callisto-iteration .learnings {
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 2px;
  color: #2c2663;
}

.callisto-iteration .learnings li {
  line-height: 34px;
}

.callisto-iteration .first-iteration p {
}

@media screen and (max-width: 500px) {
  .project-title {
    font-size: 28px;
  }
}

.header-image {
  margin: auto;
}

.header-image .connect-img {
  width: 300px;
  display: block;
  margin: auto;
}

.connect-container .connect-content {
  width: 370px;
  margin: auto;
}

.connect-container .connect-content a {
  color: #23395b;
  transition: 0.5s ease;
  display: inline-block;
}

.` .connect-content a:hover {
  color: #ee383a;
  text-decoration: none;
}

.connect-container .connect-content a:hover .red-divider {
  background-color: #ee383a;
  width: 100%;
}

.connect-container .connect-content .email {
  padding-top: 24px;
}

.connect-container .connect-content a:hover {
        text-decoration: none;
    color: #ee383a;
}

.connect-container .connect-content p {
  font-size: 16px;
  margin-bottom: 0px;
}

.connect-container .connect-content .email a {
  font-size: 24px;
}

.connect-container .connect-content .connect-links {
  padding: 20px 0;
  font-size: 16px;
}

.connect-container .connect-content .connect-links a {
  padding-right: 20px;
  margin-right: 30px;
  font-size: 16px;
  letter-spacing: 1px;
}

.connect-container .connect-content .connect-links a:last-child {
  padding-right: 0;
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  .header-image .connect-img {
    width: 100%;
    max-width: 300px;
  }

.sketch-box {
  padding: 0 48px 48px;
  width: 100%;
}

.sketch-entry {
  width: 50%;
  transition: 0.3s ease-out;
  transform: scale(0.96);
}

.sketch-entry:hover {
  transform: scale(1.04);
  transition: 0.5s cubic-bezier(0.17, 0.897, 0.18, 0.848);
}

@media screen and (max-width: 1024px) {
  .sketch-entry img {
    opacity: 1;
    transform: scale(1);
  }

  .sketch-entry img:hover {
    transform: none;
  }
}

@media screen and (min-width: 1300px) {
  .sketch-entry {
    width: 33%;
  }
}

.sketch-row {
  flex-wrap: wrap;
}

/*MOBILE VERSION*/
@media screen and (max-width: 767px) {
    .tab-container {
      min-height: calc(100vh - 67px - 39px);
}
  ul.nav.nav-tabs li {
    width: 24%;
  }
    
    .footer .footer-text {
        font-size: 10px;
    }
    
    .tab-pane {
        padding-top: 67px;
    }

  .nav-container {
    padding-bottom: 0;
  }

  .site-nav.nav-tab {
    width: 100%;
    padding: 12px 0 12px;
    margin: 0;
  }

  .nav.nav-tabs {
      padding-top: 0;
    padding-bottom: 0;
  }

    .sketch-box {
        padding: 0;
    }
    
  .sketch-entry {
    width: 100%;
  }

    .project-container {
        min-height: 180px;
        margin-bottom: 24px;
    }
  .project-container .project-img {
    width: unset;
    height: 200%;
  }

  .project-container .project-caption .project-header {
    font-size: 28px;
      letter-spacing: 2px;
  }
    
    .project-container .project-caption .project-subheader {
        display: none;
    }
}
