@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css?family=Amarante&display=swap");

body {
  background-image: url("assets/WHITE-BLUE.PNG");
  background-repeat: repeat;
  background-size: 600px;
}

.hidden {
  display: none;
}

h1 {
  color: #2c2663;
  font-family: "Nunito Sans", sans-serif, Arial, Helvetica, sans-serif;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
}

p {
  color: #826a86;
  font-family: "Nunito Sans", sans-serif, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 30px;
}

a.link {
  transition: 0.5s ease;
}

a.link:hover {
  color: #ee383a;
}

.red:hover {
  color: #ee383a;
}

.red-divider {
  width: 1px;
  height: 2px;
  background-color: transparent;
  transition: 2.4s cubic-bezier(0.17, 0.897, 0.18, 0.848);
}

a {
  font-family: "Nunito Sans", sans-serif, Arial, Helvetica, sans-serif;
}

.white {
  color: #fcfdff;
}

h2 {
  color: #824396;
}

.center {
  text-align: center;
}

h3 {
  color: #826a86;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
}

.opacity-med {
  opacity: 0.4;
}

.scarlett {
  color: #ee383a;
}

.site-container .site-title {
  text-align: center;
  font-family: "Nunito Sans", sans-serif, Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.site-container .site-title h1 {
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
  margin-bottom: 12px;
}

.site-container .site-title h3 {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
}

.nav-container {
  padding: 60px 0 15px;
  position: fixed;
  z-index: 999;
  width: 100%;
  background-image: url("assets/WHITE-BLUE.PNG");
  background-repeat: repeat;
  background-size: 600px;
}

.nav.nav-tabs {
  padding: 15px 0 15px;
  text-align: center;
  display: block;
  border-bottom: none;
}

ul.nav.nav-tabs li {
  display: inline-block;
}

.site-nav.nav-tab {
  text-align: center;
  width: 130px;
  padding: 5px 0;
  margin: 0 5px;
  display: block;
  color: #2c2663;
  border-bottom: 1px solid transparent;
  text-transform: uppercase;
  font-size: 12px;
  font-family: "Nunito Sans", sans-serif, Arial, Helvetica, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  transition: 0.4s ease;
}

.site-nav.nav-tab:hover {
  color: #ee383a;
  border-bottom: 1px solid #ee383a;
  text-decoration: none;
}

.site-nav.nav-tab.active {
  color: #ee383a;
  border-bottom: 1px solid #ee383a;
  text-decoration: none;
}

.tab-padding {
  padding-top: 188px;
}

.tab-pane {
  padding-top: 188px;
}

.tab-pane.active {
  animation: slide-down-delay 0.6s ease;
  display: block;
}

h1.tab-header {
  text-align: center;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: lowercase;
  padding: 5px 0 20px;
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-down-delay {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.jumbotron-container {
  min-height: 480px;
  height: 75vh;
  margin: auto;
  overflow: hidden;
  position: relative;
  transition: 0.3s ease;
}

.jumbotron-container:hover {
  transition: 2s ease-out;
}

.jumbotron-container:hover img {
  transform: scale(1.05);
  transition: 2s cubic-bezier(0.17, 0.897, 0.18, 0.848);
}

.jumbotron-container:hover .jumbotron-caption .outline-text {
  opacity: 1;
  transform: scale(1.05);
  color: #2c2663;
}

.jumbotron-container .jumbotron-caption {
  position: absolute;
  font-size: 75px;
  font-weight: 800;
  color: transparent;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
  opacity: 0.8;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  -webkit-text-stroke: 1px #2c2663;
  z-index: 2;
  top: 40%;
}

.jumbotron-white-line {
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: #fcfdff;
  z-index: 1;
}

.jumbotron-white-line.left {
  left: 40%;
}

.jumbotron-white-line.hard-left {
  left: 20%;
}

.jumbotron-white-line.right {
  right: 40%;
}

.jumbotron-white-line.hard-right {
  right: 20%;
}

@media screen and (max-width: 900px) {
  .jumbotron-white-line.hard-right {
    right: 33%;
  }
  .jumbotron-white-line.hard-left {
    left: 33%;
  }
  .jumbotron-white-line.left {
    display: none;
  }
  .jumbotron-white-line.right {
    display: none;
  }
}

.transition-fast {
  transition: 0.8s ease-out;
  transition-delay: 0;
}

.transition-medium {
  transition: 0.8s ease-out;
  transition-delay: 0.15s;
}

.transition-slow {
  transition: 0.8s ease-out;
  transition-delay: 0.3s;
}

.jumbotron-container img {
  width: 100%;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
  position: absolute;
  transition: 0.4s ease-out;
}

@media screen and (max-width: 1400px) {
  .jumbotron-container img {
    width: unset;
    height: 180%;
  }
}

@media screen and (max-width: 768px) {
  .jumbotron-container img {
    width: unset;
    height: 1000px;
  }

  .jumbotron-container .jumbotron-caption {
    position: absolute;
    font-size: 75px;
    font-weight: 800;
    color: #2c2663;
    opacity: 0.7;
    line-height: 1;
    padding: 5vw;
    bottom: 40%;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    transition: 0s;
  }
}

.about-container {
  height: calc(100vh - 188px);
}

.about-container .about {
  padding: 80px 40px 40px;
  max-width: 940px;
  text-align: left;
  margin: auto;
}

.about-container:hover .about h1 {
  color: #2c2663;
}

.about-container:hover .about .red {
  color: #ee383a;
}

.about-container:hover .about-image {
  transform: scale(1.05);
  transition: 1.4s ease;
}

.about h1 {
  margin-bottom: 10px;
  padding-bottom: 5px;
  color: #ddb4e0;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-size: 34px;
  font-weight: 600;
}

.about .about-description {
  max-width: 370px;
}

.about .about-text {
  float: left;
}

.about .about-image {
  max-width: 360px;
  transition: 2s ease;
}

.button-link {
  border: 3px solid #ddb4e0;
  color: #2c2663;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 12px;
  display: inline-block;
  font-size: 12px;
  font-family: "Nunito Sans", sans-serif, Arial, Helvetica, sans-serif;
  transition: 0.5s ease;
}

.button-link:hover {
  background-color: #ee383a;
  color: #fcfdff;
  transition: 0.5s ease;
  border: 3px solid #ee383a;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .about .about-description {
    max-width: 325px;
  }

  .about h1 {
    color: #2c2663;
  }

  .about .about-image {
    height: 550px;
    max-width: unset;
  }
}

@media screen and (max-width: 902px) {
  .about .about-image {
    height: 530px;
    max-width: unset;
  }
}

.portfolio-container {
  padding-top: 20px;
  max-width: 90vw;
  margin: auto;
}

.project-container {
  width: 100%;
  min-height: 270px;
  overflow: hidden;
  position: relative;
  background-color: #23395b;
  margin-bottom: 40px;
}

.project-container .project-img {
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  position: absolute;
  margin: auto;
  width: 100%;
  transform: scale(1);
  opacity: 0.6;
  transition: 0.3s cubic-bezier(0.17, 0.897, 0.18, 0.848);
}

.project-container .project-caption {
  position: absolute;
  bottom: 4vw;
  left: 4vw;
}

.project-container .project-caption .project-header {
  color: #fcfdff;
  -webkit-text-stroke: 2px #fcfdff;
  font-size: 58px;
  font-weight: 800;
  font-family: "Open Sans", sans-serif;
  transition: 0.3s ease;
  line-height: 1;
  padding: 8px 0;
}

.project-container .project-date {
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  color: #fcfdff;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.project-container .project-subheader {
  font-size: 20px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  color: #fcfdff;
  text-transform: uppercase;
  opacity: 0;
  letter-spacing: 1px;
  transition: 0.3s ease;
}

.project-container:hover .project-img {
  transform: scale(1.1);
  opacity: 0.8;
  filter: blur(1px);
}

.project-container:hover .project-caption .project-header {
  color: transparent;
  transition: 0.3s ease;
}

.project-container:hover .project-caption .project-subheader {
  opacity: 1;
}

.callisto-main {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .project-container .project-caption .project-header {
    color: #fcfdff;
    -webkit-text-stroke: 2px #fcfdff;
    font-weight: 700;
    font-size: 32px;
  }

  .project-container .project-caption .project-subheader {
    opacity: 1;
  }
}

.project-tab {
  margin: auto;
  width: 80%;
  max-width: 1000px;
}

.project-tab.project-one {
  max-width: 768px;
}

.project-title {
  font-size: 45px;
  margin: 30px 30px 40px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

.project-title.project-sub {
  margin-bottom: 10px;
}

.project-tab.full-screen-project {
  width: 100%;
  max-width: unset;
}

.full-screen-project p {
  max-width: 800px;
  margin: auto;
  display: block;
}

.project-tab .spaghetti-yeti-project-img {
  width: 100%;
  min-width: 350px;
  max-width: 750px;
  margin: auto;
  display: block;
}

.game-container {
  padding: 30px 0;
}

.game-container.lizard-wizard {
  background-color: #793694;
}

.game-container.lizard-wizard h1 {
  color: #fcfdff;
  font-family: "Amarante", cursive;
}

.game-container.lizard-wizard h3 {
  color: #fcfdff;
}

.game-container.electric-share {
  background-color: #dfe973;
}

.game-container.electric-share h1 {
  color: #618463;
  font-family: "Lobster", cursive;
  font-size: 50px;
}

.game-container.electric-share h3 {
  color: #618463;
}

.game-container.hj-construction {
  background-color: #ee383a;
}

.game-container.hj-construction h1 {
  color: #781d1e;
}

.game-container.hj-construction h3 {
  color: #781d1e;
}

.jawg-logo {
  max-width: 300px;
  width: 100%;
  margin: auto;
  display: block;
}

.project-tab .gameplay {
  min-width: 350px;
  max-width: 600px;
  width: 100%;
  display: block;
  margin: auto;
  padding: 30px 0;
}

.project-footer {
  padding: 30px;
  text-align: center;
}

@media screen and (max-width: 500px) {
  .project-title {
    font-size: 30px;
  }
}

.connect-container {
  min-height: 500px;
}

.header-image {
  margin: auto;
}

.header-image .connect-img {
  width: 300px;
  display: block;
  margin: auto;
}

.connect-container .connect-content {
  width: 370px;
  margin: auto;
}

.connect-container .connect-content a {
  color: #23395b;
  transition: 0.5s ease;
  display: inline-block;
}

.connect-container .connect-content a:hover {
  color: #ee383a;
  text-decoration: none;
}

.connect-container .connect-content a:hover .red-divider {
  background-color: #ee383a;
  width: 100%;
}

.connect-container .connect-content .email {
  padding-top: 20px;
}

.connect-container .connect-content p {
  font-size: 15px;
  margin-bottom: 0px;
}

.connect-container .connect-content .email a {
  font-size: 20px;
  width: 250px;
}

.connect-container .connect-content .connect-links {
  padding: 20px 0;
  font-size: 15px;
}

.connect-container .connect-content .connect-links a {
  padding-right: 20px;
  margin-right: 30px;
  font-size: 16px;
  letter-spacing: 1px;
}

.connect-container .connect-content .connect-links a:last-child {
  padding-right: 0;
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  .header-image .connect-img {
    width: 100%;
    max-width: 300px;
  }

  .connect-container .connect-content {
    width: 100%;
    padding-left: 4vw;
  }
}

.sketch-box {
  max-width: 90vw;
  margin: auto;
  padding-bottom: 40px;
}

.sketch-entry {
  width: 50%;
  float: left;
}

.sketch-entry img {
  width: 100%;
  padding: 5px;
  transition: 0.3s ease-out;
  opacity: 0.8;
  transform: scale(0.96);
}

.sketch-column img:hover {
  transform: scale(1.04);
  transition: 0.5s cubic-bezier(0.17, 0.897, 0.18, 0.848);
}

@media screen and (max-width: 1024px) {
  .sketch-entry img {
    opacity: 1;
    transform: scale(1);
  }

  .sketch-entry img:hover {
    transform: none;
  }
}

@media screen and (min-width: 1300px) {
  .sketch-entry {
    width: 33%;
  }
}

.sketch-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.sketch-column {
  flex: 33%;
  max-width: 33%;
  padding: 0 4px;
}

.sketch-column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  transition: 0.5s cubic-bezier(0.17, 0.897, 0.18, 0.848);
}

@media screen and (max-width: 1200px) {
  .sketch-column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 700px) {
  .sketch-column {
    flex: 100%;
    max-width: 100%;
  }

  .sketch-column img {
    margin-top: 40px;
  }
}

/*MOBILE VERSION*/
@media screen and (max-width: 767px) {
  ul.nav.nav-tabs li {
    width: 24%;
  }

  .nav-container {
    padding-bottom: 0;
  }

  .site-nav.nav-tab {
    width: 100%;
    padding: 16px 0 5px;
    margin: 0;
  }

  .nav.nav-tabs {
    padding-bottom: 0;
  }

  .sketch-entry {
    width: 100%;
  }

  .project-container .project-img {
    width: unset;
    height: 200%;
  }

  .project-container .project-caption .project-header {
    font-size: 45px;
  }
}
